@media (min-width: 768px) {
  body.exhibits.show, body.exhibits.summary {
    margin-bottom: 0;
    height: 100vh;
    overflow: hidden;
  }
  body.exhibits.show header, body.exhibits.summary header {
    display: none;
  }
  body.exhibits.show #main-nav, body.exhibits.summary #main-nav {
    display: none;
  }
  body.exhibits.show main, body.exhibits.summary main {
    margin-top: 0;
  }
  body.exhibits.show footer, body.exhibits.summary footer {
    display: none;
  }
  #text, #image, #title {
    height: calc(100vh - 56px); /*! View heigh minus any header or footer */
    display: flex;
  }
  #text-block, #text-only-block, #title-block {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  #text-block {
    padding-left: 1rem;
    padding-right: 3rem;
  }
  #image-block, #title-block {
    padding-left: 3rem;
    padding-right: 1rem;
  }
  #image-block {
    margin: auto;
  }
  #text {
    overflow-y: auto;
  }
  #main-title, #title h1 {
    font-size: 3.5rem;
  }
}
#exhibit-nav .btn-arrow, #exhibit-home .btn-close {
  position: fixed;
  top: calc(50% - 33px); /*! Half of the image height minus half the button size */
  line-height: 1;
  background-color: transparent;
  padding: 0;
  color: #f9683b;
  border: none;
  opacity: 1;
  z-index: 1000;
}
.btn-inform {
  position: absolute;
  background-color: transparent;
  line-height: 0;
  right: 2px;
  bottom: 2px;
  padding: 0;
  color: #f9683b;
  border: none;
  opacity: 1;
  z-index: 1000;
  display: none;
}
.btn-inform i {
  font-size: 20px;
}
#exhibit-nav .btn-arrow:active, .btn-close:active, .btn-inform:active {
  opacity: .7;
}
#exhibit-home .btn-close {
  top: 0;
  right: 0;
  padding: 1rem;
}
.btn-close i {
  font-size: 2rem;
}
#exhibit-nav .btnPrevious {
  left: 0;
}
#exhibit-nav .btnNext {
  right: 0;
}
#exhibit-nav .btn-arrow i {
  font-size: 4rem;
}
#image-block img {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0;
  cursor: zoom-in;
  margin: auto;
}
.modal-backdrop.show {
  opacity: 0.75;
}
.modal-backdrop {
  background-color: #fff;
}
.modal-content {
  border-radius: 0;
  border: 1px solid rgba(0,0,0,.125);
}
.modal-content #close-modal {
  margin-left: auto;
  float: right;
  padding: .5rem;
  line-height: 1;
  background-color: transparent;
  color: #f9683b;
  border: none;
  opacity: 1;
  z-index: 1000;
}
